
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 1.5rem;
  font-weight: 700;
  color: blue;
}

.nav-link {
  transition: 0.7s ease;
  color: #054bfbad;
}

.nav-link:hover {
  color: blue;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #325bc0a5;
  margin-top: -30px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .hamburger {
    margin-left: 36em;
    position: fixed;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active {
    background-color:unset;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: hwb(234 25% 16% / 0.902);
    width: 100%;
    height: 100%;
    color: #054bfb;
  }

  .nav-link {
    color: #fff;
  }

  .nav-item a {
    display: flex;
    margin-top: 80px;
    margin-left: -300px;
    font-weight: 300;
    font-size: 150%;
  }

  .nav-menu.active {
    left: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-family: "Poppins", sans-serif;
  background: url("./image/icons/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  margin-bottom: 12%;
  border-bottom-left-radius: 40px;
}

.headlines .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headlines .intro {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.about p {
  margin-top: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

.connect {
  padding: 0 10px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  flex-direction: row;
}

.social-icons li {
  list-style: none;
  margin-left: 10px;
  padding-top: 10px;
}

#cards {
  display: grid;
  grid-template-columns: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-block: 104px;
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
}

.project-image {
  width: 100%;
}

.project-tile {
  font-size: 38px;
  margin-block: 15px;
  color: #172b4d;
}

.stack-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack-year .title {
  color: #344563;
}

.lang-year {
  color: #7a869a;
}

.detail-text {
  margin-block: 10px;
  color: #344563;
  font-size: 16px;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #7f8cff;
  font-size: 85%;
}

.btns li {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  gap: 10px;
  list-style-type: none;
}

.detail-btn {
  padding: 15px 10px;
  padding: 15px 5px;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  outline: none;
  border: 1px solid #396df2;
  width: 50%;
  width: 150px;
  margin-block: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.detail-btn:hover {
  background-color: #396df2;
}

#about-me {
  background-color: #fff;
  border-top-right-radius: 80px;
  padding-bottom: 157px;
}

.text-h {
  padding-top: 30%;
  margin-left: 10px;
  font-size: 40px;
}

.btn-about {
  padding: 15px 10px;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  outline: none;
  border: 1px solid #396df2;
  width: fit-content;
  margin-block: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-left: 10px;
}

.btn-about:hover {
  background-color: #396df2;
}

.fraze {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  font-weight: 600;
}

.fraze img {
  height: 10px;
  width: 10px;
  margin-left: 58%;
  align-self: center;
}

.language-list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: rgba(173, 173, 173, 0.13);
  border-radius: 10px;
  gap: 15px;
  margin-right: 3%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 2%;
}

.language-list img {
  padding-top: 5px;
  margin-left: 7px;
  width: 20%;
}

hr {
  margin-top: 20px;
  color: rgba(173, 173, 173, 0.13);
  width: 195%;
}

.fa-list {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fa-list img {
  margin-left: 74%;
}

.text {
  font-weight: 700;
  font-size: 40px;
  display: flex;
  color: #fff;
  justify-content: center;
  margin-top: -112px;
  padding-top: 83px;
}

.pa {
  color: #fff;
  font-size: 20px;
  padding-left: 38px;
  padding-right: 30px;
  padding-top: 24px;
}

.login {
  font-family: "Poppins", sans-serif;
  background: url(./image/bg/contactform-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #6070ff;
  margin-bottom: 12%;
  border-top-left-radius: 90px;
}

.form {
  margin-top: 20px;
  padding: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
  width: 89%;
  padding: 14px 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 17px;
}

textarea {
  height: 150px;
  width: 89%;
}

.button {
  color: #396df2;
  background: rgba(255, 255, 255, 1);
  padding: 15px 30px;
  border-radius: 8px;
  margin-block: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-left: 17px;
  margin-top: -20px;
}

.button:hover {
  background-color: #396df2;
  color: #fff;
}

.pel {
  margin-left: 8rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

  #hambuger-icon {
    display: none;
  }

  .half {
    display: block;
    display: flex;
  }

  .info a {
    text-decoration: none;
    color: #6070ff;
    font-size: 20px;
    font-weight: 700;
  }

  .half li a {
    color: #054bfb;
  }

  .container {
    width: 100%;
    height: 100vh;
    background: url("./image/bg/head-header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: center;
    background-color: #fff;
    border-bottom-left-radius: 40px;
  }

  .desk-pa {
    margin-left: 256px;
  }

  .info img {
    display: none;
  }

  .inform {
    margin-top: -10%;
  }

  .about .desk-pa {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    width: 714px;
    margin-top: 12px;
    font-weight: 400;
    color: #344563;
  }

  .language-list img {
    width: 68px;
    margin-left: -19%;
  }

  .fa-list img {
    margin-left: 18.5em;
  }

  .fraze img {
    height: 10px;
    width: 10px;
    margin-left: 77%;
    align-self: center;
  }

  .men .info img {
    display: none;
  }

  .about-1 .headlines {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .headlines .about {
    padding: 24px;
  }

  .headlines .intro {
    font-size: 40px;
    font-weight: 700;
    margin-left: 256px;
    margin-top: 156px;
  }

  .about p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
    font-weight: 400;
    color: #344563;
    width: 100%;
  }

  .about-1 {
    flex: 1;
    width: 40%;
  }

  .felo {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    margin-top: 7em;
    list-style: none;
    margin-bottom: 7em;
  }

  .connect {
    padding: 0 24px;
    color: #7f8cff;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .social-icons li {
    list-style: none;
    margin-left: 20px;
    padding-top: 10px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
  }

  .project-image {
    width: 50%;
  }

  .projects:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-tile {
    font-size: 38px;
    margin-block: 15px;
    color: #172b4d;
    margin-left: 25px;
  }

  .stack-year {
    margin-left: 20px;
  }

  .stack-year .title {
    color: #344563;
    margin-left: 10px;
  }

  .lang-year {
    color: #7a869a;
    margin-right: 30%;
  }

  .detail-text {
    margin-block: 10px;
    color: #344563;
    font-size: 16px;
    margin-left: 2em;
  }

  .btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 1.7em;
  }

  .btns li {
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    gap: 10px;
    list-style-type: none;
  }

  .detail-btn {
    margin-left: 2em;
  }

  .detail-btn:hover {
    color: #fff;
    background-color: #6070ff;
  }

  .projects > div {
    flex-grow: 1;
  }

  .about-sec {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 0 60px 0 0;
  }

  .about-icon {
    width: 100%;
  }

  .text-h {
    margin-left: 20px;
    font-size: 40px;
    padding-top: 10%;
  }

  .btn-about {
    padding: 15px 10px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    outline: none;
    border: 1px solid #396df2;
    margin-block: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
  }

  .btn-about:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .fraze {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    color: rgba(52, 69, 99, 1);
    margin-left: 70px;
  }

  .language-list {
    display: flex;
    margin-top: 10px;
    margin-left: 3vw;
    border-radius: 5px;
    padding-right: -45%;
    gap: 10px;
    margin-right: 26%;
    height: 30%;
    list-style: none;
  }

  .language-list li {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(173, 173, 173, 0.13);
    border-radius: 10px;
    gap: 15px;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: -25px;
    margin-left: 10px;
    padding: 4%;
  }

  #desk-pa {
    margin-left: 256px;
  }

  .la-list {
    display: block;
    flex-direction: column;
  }

  .la-list span {
    padding: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-top: -1%;
  }

  .language-list span {
    display: flex;
  }

  .fa-list {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 65px;
    list-style: none;
  }

  .text {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto;
    width: 447px;
  }

  .pa {
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin: 0 auto;
    width: 517px;
  }

  .login {
    border-radius: 88px 0 0 0;
    background: url(./image/bg/contact-form-background-shapes.png);
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #6070ff;
    padding-bottom: 10%;
    margin-top: -68px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    width: 505px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 21px;
    margin-left: 37%;
  }

  textarea {
    height: 250px;
  }

  .button {
    display: inline;
    align-items: center;
    width: 159px;
    margin-left: 46%;
    border: none;
  }

  .pel {
    display: none;
  }
}
